@import '@primer/css/dist/color-modes.css';
@import '@primer/css/dist/primitives.css';
@import '@primer/css/dist/core.css';
@import '@primer/css/dist/product.css';
@import '@primer/css/dist/marketing.css';
@import '../node_modules/@wooorm/starry-night/style/both.css';

[data-color-mode='dark'][data-dark-theme*='dark'] {
  .gh-logo {
    fill: #fff;
  }
  .profile-color-modes-toggle-thumb {
    transform: translateX(18px);
  }
  --color-profile-color-modes-toggle-track-border: #3c1e70;
  --color-profile-color-modes-toggle-track-bg: #271052;
  --color-profile-color-modes-toggle-thumb-bg: #6e40c9;
}

[data-color-mode='light'][data-light-theme*='light'] {
  .gh-logo {
    fill: #24292f;
  }
  --color-profile-color-modes-toggle-track-border: #afb8c1;
  --color-profile-color-modes-toggle-track-bg: #ffffff;
  --color-profile-color-modes-toggle-thumb-bg: #32383f;
}

.gh-logo {
  opacity: 0.5;
}

.footer .footprint {
  span {
    opacity: 0.5;
  }
  a {
    opacity: 1;
  }
}

.profile-color-modes-toggle {
  position: absolute;
  top: 12px;
  right: 0;
  z-index: 1;
}

.profile-color-modes-toggle-track {
  width: 42px;
  height: 24px;
  border-radius: 24px;
  border: 3px solid var(--color-profile-color-modes-toggle-track-border);
  background-color: var(--color-profile-color-modes-toggle-track-bg);
}

.profile-color-modes-toggle-thumb {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--color-profile-color-modes-toggle-thumb-bg);
  transition: transform .3s cubic-bezier(.4,.03,0,1);
  cursor: pointer;
}

.markdown-heading {
  position: relative;
  .anchor {
    position: absolute;
    top: 50%;
    left: -1.75rem;
    height: 1.75rem;
    margin: auto;
    opacity: 0;
    transform: translateY(-50%);
    color: var(--fgColor-default);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover .anchor {
    opacity: 1;
  }
}

.markdown-body .anchor {
  float: left;
  padding-right: var(--base-size-4)
}
